<form action="/payments" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
    data-image="/img/documentation/checkout/marketplace.png"
    data-name="Stripe.com"
    data-description="2 widgets"
    data-amount="<%= amount %>"
    data-locale="auto"
    data-billing-address="true"
    data-label="<%= label %>">
  </script>
  <input type="hidden" name="amount" value="<%= amount %>">
</form>
