
<script type="text/javascript">
    $(function() {
        $('.donate-button').click(function(event) {
            var amount = $('#custom-donation-amount').val();
            $('.stripe-button').attr('data-amount', amount * 100)
        });
    });
</script>

<form action="/payments" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button" data-image="images/button.png"
    data-key="<%=ENV['STRIPE_PUBLISHABLE_KEY']%>"
    data-label="BECOME A MEMBER"
    data-description="Friends of the Library"
    data-image="http://www.wblibraryfriends.org/wp-content/uploads/2015/06/fol.png"
    data-name="Friends of the Library"
    data-description="West Bridgewater, MA"
    data-locale="auto"
    data-billing-address="true"
    data-amount="0">
  </script>
  <input type="number" id="custom-donation-amount" name="amount" placeholder="$50.00" min="0" step="10.00 " />
</form>
