<html>
	<head>

	</head>
	<body>
			 <header>
					 <nav class="top-nav">
							 <div class="container">
									 <div class="nav-wrapper">
									 </div>
							 </div>
					 </nav>
					 <div class="container">
							 <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="mdi-navigation-menu"></i></a>
					 </div>
					 <ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
							 <li class="logo">
									 <a id="logo-container" href="#" class="brand-logo">
											 <!-- <object id="front-page-logo" type="image/svg+xml" data="http://materializecss.com/res/materialize.svg">Your browser does not support SVG</object> -->
									 </a>
							 </li>
							 <li class="bold">
									 <a href="" id="link1" class="waves-effect waves-teal">Contacts by Location</a>
							 </li>
							 <li class="bold">
									 <a href="#" id="link2" class="waves-effect waves-teal">Contact List</a>
							 </li>
							 <li class="bold">
									<a href="#" id="link3" class="waves-effect waves-teal">Add a Contact</a>
							</li>
							<li class="bold">
									<a href="#" id="link4" class="waves-effect waves-teal">Add Something Else</a>
							</li>
							 <li class="no-padding">
									 <ul class="collapsible collapsible-accordion">
</ul>
							 </li>
					 </ul>
					 <div id="tokendiv" data-idtoken="<%= token %>"></div>
					 <div class="container" id="databox">
					 <div class="parallax-container" id="table">
					 </div>
				 </div>
			 </header>
			 <main class="">
					 <div class="container">
							 <div class="row">
									 <div class="col s12 m9 l10">
									 </div>
							 </div>
					 </div>
			 </div>
	 </main>
	 <footer class="page-footer">
			 <div class="container">
					 <div class="row">
					 </div>
			 </div>
			 <div class="footer-copyright">
					 <div class="container">            © 2015 WBFOL
							 <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
					 </div>
			 </div>
	 </footer>

    <%= stylesheet_link_tag    'admin-bundle', media: 'all' %>
    <%= javascript_include_tag 'admin-bundle' %>
    <%= csrf_meta_tags %>
	</body>
